header
{
    padding-bottom: 10px;
    padding-top: 28px;
    
}

.navbar-nav {
    position: relative;
    float: right;
    color: rgb(139, 0, 0);

}

h1 {
    color: #aa0101; 
    font-family: impact, fantasy; 
    font-size: 100px; line-height: 80px; 
    font-weight: normal; 
    margin-bottom: 0px; 
    margin-top: 40px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff; 
    filter: drop-shadow(10px 10px 10px #aa0101);
}


h3 { 
    color: #aa0101;
    font-size: 29px;
    font-family: Apple Chancery, cursive;       line-height: 45px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    padding-top: 20px; 
    filter: drop-shadow(10px 10px 10px #aa0101);
}

#left {  
    width: 400px;  
    height: 300px;  
    border: 5px solid rgb(19, 1, 1);   
    object-fit: fill;  
    object-position: left top;  
    } 
     
#right {  
    width: 400px;  
    height: 300px;  
    border: 5px solid rgb(19, 1, 1);  
    object-fit: fill;  
    object-position: right top;  
    } 

#center{
    width: 400px;  
    height: 300px;  
    border: 5px solid rgb(19, 1, 1);   
    object-fit: fill;  
    object-position: top center;
    }

body{
    background-image:url('../img/background2.jpeg');
    }

footer{
    font-size: small;
    filter: drop-shadow(10px 10px 10px #0a0a0a);
    text-align: right;
    font-family: cursive;


}

#Response-fromQuiz{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: solid;
    text-align: center;
    background: #fff;
    border: black;
    border-radius: 20px;
    text-indent: 25px;

}

#submit-btn{
  background-color: #e60202; 
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: white;
  display: inline-block;
  font-size: 16px;

}
